<div>
  <h3>Reset Password</h3>
  <p class="text-center">
    Please enter your email address to request a password reset.
  </p>
  <input
    type="email"
    class="formControl"
    placeholder="Email Address"
    #passwordResetEmail
    required
  />
  <input
    type="submit"
    class="btn btnPrimary"
    value="Reset Password"
    (click)="authService.ForgotPassword(passwordResetEmail.value)"
  />
  <span
    >Go back to ?
    <a
      routerLink="/sign-in"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Log In</a
    >
  </span>
</div>
